.container {
  width: 575px;
  height: 825px;

  background-color: #797978;
  padding-left: 30px;
}
#height,
#weight {
  width: 150px;
  height: 25px;
  margin-top: 30px;
}

#weight-guide {
  margin-left: 75px;
  margin-top: 25px;
}

#results {
  font-size: 35px;
  margin-left: 90px;
  margin-top: 20px;
  color: rgb(241, 241, 241);
}

button {
  width: 150px;
  height: 35px;
  margin-left: 90px;
  margin-top: 25px;
  background-color: #fff;
  padding: 1px 30px;
  border-radius: 8px;
  color: #212121;
  text-decoration: none;
  border: 2px solid #212121;

  font-size: 25px;
}

h1 {
  padding-left: 15px;
  padding-top: 25px;
  
}

.nav a {
  height: 50px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  margin: 0 auto;
}


body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    margin: 0;
}
.container {
    height: auto; /* Agar 100vh dala hai toh usko nikal de aur auto kar */
    width: 500px; /* Apne hisaab se width set kar */
    padding: 40px; /* Box me andar space aane ke liye */
    background-color: gray;
    border-radius: 10px; /* Box thoda smooth dikhne ke liye */
}